<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto - Barberia Login</title>
    <link rel="stylesheet" href="../css/style-login.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../img/logo.png" alt="Logo">
        </div>
        <div class="boton">
            <a href="../index.html">Agendar Citas</a>
            <a href="login.php">Ingresar</a>
        </div>
    </header>
    <main>
        <div class="principal">
            <img src="../img/Male User.png" alt="">
            <h1>Ver citas</h1>
        <form action="cliente/dashboard_cliente.html">
            <div class="campo">
                <label>Correo:</label>
                <input type="email" id="correo" required>
            </div>
            <button class="blue" type="submit">Ver mis citas</button>
        </form>
        </div>
    </main>
    <footer>
        <p>Proyecto Barberia - Copyright 2025</p>
    </footer>
</body>

</html>