<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto - Barberia</title>
    <link rel="stylesheet" href="../../css/style-cliente.css">
</head>

<body>
    <header>
        <div class="user">
            <span>Raul Perez</span>
            <img src="../../img/Male User.png" alt="Logo">
        </div>

    </header>
    <main>
        <img src="../img/Male User.png" alt="">
        <h1>Historial de citas</h1>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>Servicio</th>
                        <th>Dia</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Corte de pelo</td>
                        <td>20 de mayo</td>
                        <td>9:00am</td>
                    </tr>
                    <tr>
                        <td>Corte de pelo</td>
                        <td>20 de mayo</td>
                        <td>9:00am</td>
                    </tr>
                </tbody>
                </table>
        </div>
    </main>
    <footer>
        <p>Proyecto Barberia - Copyright 2025</p>
    </footer>
</body>

</html>